/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #4da1ad;
  --accent-dark: #36747c;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}

html {
  font-size: 112.5%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  background-size: 100% 600px;
  color: rgb(var(--gray-dark));
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  overflow-wrap: break-word;
  text-align: left;
  text-wrap: pretty;
  word-wrap: break-word;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  padding: 3em 1em;
  margin: auto;
}

abbr[title]:hover {
  cursor: help;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 0 0 0.5rem;
  color: rgb(var(--black));
  line-height: 1.2;
}

h1 {
  font-size: 2.2222em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7778em;
}

h4 {
  font-size: 1.5556em;
}

h5 {
  font-size: 1.257em;
}

h6 {
  font-size: 1.2em;
}

@media (width <= 768px) {
  h1 {
    font-size: 1.6667em;
    text-align: start;
  }

  h2 {
    font-size: 1.5556em;
  }

  h3 {
    font-size: 1.4444em;
  }

  h4 {
    font-size: 1.3889em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1em;
  }
}

strong,
b,
.bold {
  font-weight: 600;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent);
}

p {
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

figcaption {
  font-size: 80%;
}

code {
  padding: 2px 5px;
  border-radius: 2px;
  background-color: rgb(var(--gray-light));
  hyphens: none;
  overflow-wrap: anywhere;
  word-wrap: anywhere;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
  font-size: 0.85rem;
}

pre > code {
  all: unset;
}

blockquote {
  padding: 0 0 0 20px;
  border-left: 4px solid var(--accent);
  margin: 0;
  font-size: 0.95em;
  line-height: 1.5;
  text-align: justify;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

@media (width <= 720px) {
  body {
    font-size: 18px;
  }

  main {
    padding: 1em;
  }
}

.center {
  text-align: center;
}

.table-wrapper {
  display: flex;
  max-width: 100%;
  justify-content: center;
  overflow-x: auto;
}

table {
  width: auto;
  border-collapse: collapse;
  font-size: 75%;
  line-height: 1.5;
  text-align: center;
}

table th {
  border: 1px solid #969595;
  background-color: #555;
  color: #fff;
  font-weight: normal;
}

table th,
table td {
  min-width: 25px;
  padding: 4px 8px;
}

table td {
  border: 1px solid lightgrey;
}

.striped-row {
  background-color: #969595;
  color: #fff;
}

.striped-row td {
  border: 1px solid #807e7e;
}

.striped tbody tr:nth-child(odd) {
  background-color: #dedcdc;
}

.striped tbody tr:nth-child(even) {
  background-color: #fff;
}

kbd {
  position: relative;
  top: -1px;
  padding: 2px 5px;
  border: 1px solid #3d3e42;
  border-radius: 0.25rem;
  background-color: #b1b1b4;
  box-shadow: 0 2px 0 1px #3d3e42;
  color: #2c2d2e;
  cursor: default;
  font-size: 0.75em;

  &:hover {
    top: 1px;
    box-shadow: 0 1px 0 0.5px #3d3e42;
  }
}

.sr-only {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: 0;

  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);

  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);

  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);

  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
