---
import BaseHead from '../components/BaseHead.astro'

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} | CV`} description={description} />
    <meta http-equiv="refresh" content="0; url=/tiago-porto_cv.pdf" />
  </head>
  <body></body>
</html>
