---
import BaseHead from '../components/BaseHead.astro'
import { useI18n } from '../i18n/utils'

const { t } = useI18n(Astro.url)
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${t('site.title')} | CV`}
      description={t('site.description')}
    />
    <meta http-equiv="refresh" content="0; url=/tiago-porto_cv.pdf" />
  </head>
  <body></body>
</html>
