---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <p>
        I'm a Front-end Engineer with 15+ years of experience developing web
        applications with UX and UI-oriented interfaces. My graphic design
        degree gave me valuable knowledge that guided my work as a Front-end.
      </p>

      <p>
        I've worked on multiple projects and companies where I had the
        opportunity to explore multiple skills, technologies, platforms, and
        methodologies.
      </p>

      <p>
        My experience goes from simple web pages and npm libraries to complex
        single-page applications and hybrid mobile and desktop apps. A long time
        working with agile teams delivering high-end products.
      </p>

      <p>Open-source contributor. ❤️</p>
    </main>
    <Footer />
  </body>
</html>
