---
const today = new Date()
---

<footer>
  &copy; {today.getFullYear()} Tiago Porto. All rights reserved.
  <div class="social-links">
    <a
      href="https://github.com/tiagoporto"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Go to Tiago Porto's GitHub repo</span>
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/github"
        ><path
          fill="currentColor"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
        ></path></svg
      >
    </a>

    <a
      href="https://www.myfonts.com/collections/letra-um-foundry"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Go to Letra Um's my fonts page</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="108"
        height="50"
        viewBox="0 0 108 50"
        fill="none"
        style="width: 70%;"
      >
        <path
          d="M48.1064 18.4504C47.8832 17.8572 47.5858 17.3874 47.2159 17.0409C46.844 16.6944 46.4059 16.5201 45.9033 16.5201C45.4008 16.5201 45.0129 16.6944 44.7456 17.0409C44.4782 17.3874 44.1064 18.0099 43.632 18.9046L41.5837 22.9375C42.0883 20.5099 42.4521 18.6951 42.6752 17.4951C42.8983 16.295 43.0089 15.3925 43.0089 14.7856C43.0089 14.3529 42.9204 13.9183 42.7415 13.4857C42.5626 13.053 42.3255 12.6556 42.03 12.2934C41.7325 11.9332 41.3848 11.6004 40.9827 11.3831C40.5827 11.1677 40.1606 11.015 39.7164 11.015H39.7144C39.5074 11.015 39.3144 11.0875 39.1375 11.1442C38.9586 11.203 38.7657 11.3537 38.5586 11.5554C38.3516 11.757 38.1204 12.08 37.8692 12.499C37.6159 12.9179 37.3124 13.4798 36.9566 14.1748L34.1968 19.5546C34.4038 17.7907 34.5908 16.3185 34.7536 15.1321C34.9164 13.9477 35.0491 12.9492 35.1536 12.1407C35.2581 11.3322 35.3325 10.6666 35.3767 10.1458C35.4209 9.62505 35.443 9.14932 35.443 8.71471C35.443 7.99231 35.3245 7.32669 35.0873 6.7198C34.8501 6.11291 34.5385 5.59216 34.1526 5.1595C33.7667 4.72489 33.3506 4.38621 32.9064 4.13953C32.4621 3.89482 32.0461 3.77148 31.6601 3.77148C31.3325 3.77148 31.0591 3.82238 30.836 3.92419C30.6129 4.02599 30.3918 4.21393 30.1687 4.48801C29.9456 4.76405 29.7244 5.16733 29.5013 5.70179C29.2782 6.23625 29.0189 6.93711 28.7214 7.80437L24.8923 19.5135L25.2923 10.5804C25.3224 9.77188 25.226 9.01228 25.0028 8.30359C24.7797 7.5949 24.4822 6.98801 24.1124 6.48292C23.7405 5.97783 23.3184 5.58041 22.844 5.29067C22.3697 5.00289 21.8933 4.85802 21.4189 4.85802C20.9747 4.85802 20.5425 5.01072 20.1285 5.31416C19.7124 5.61761 19.2822 6.24016 18.838 7.17986C18.3938 8.11957 17.9174 9.47822 17.4129 11.2558C16.9084 13.0334 16.3435 15.3964 15.7204 18.3467C15.2762 20.4864 14.9043 22.2778 14.6069 23.7245C14.3094 25.1713 13.9898 26.3263 13.6501 27.1936C13.3084 28.0608 12.9003 28.6814 12.426 29.0573C11.9516 29.4332 11.3124 29.6211 10.5104 29.6211C9.82696 29.6211 9.12344 29.5272 8.39581 29.3392C7.66817 29.1513 6.97872 28.9124 6.32545 28.6227C5.67219 28.333 5.09329 28.0021 4.58877 27.6262C4.08425 27.2503 3.69832 26.8745 3.43098 26.4986C4.17269 26.2382 5.03299 26.109 6.0139 26.109C6.78575 26.109 7.5355 26.1599 8.26314 26.2617C8.99078 26.3635 9.54756 26.4124 9.93349 26.4124C10.4963 26.4124 10.7797 26.1521 10.7797 25.6313C10.7797 25.3142 10.6471 24.9598 10.3797 24.5683C10.1124 24.1787 9.71842 23.8087 9.19983 23.4622C8.67922 23.1157 8.04204 22.8259 7.28425 22.5949C6.52646 22.3639 5.65812 22.2484 4.67922 22.2484C3.16565 22.2484 2.00787 22.6027 1.20586 23.3114C0.403845 24.0201 0.00384521 24.8795 0.00384521 25.8917C0.00384521 26.8177 0.271182 27.6634 0.805855 28.4289C1.34053 29.1944 2.06013 29.86 2.96465 30.4238C3.86917 30.9876 4.92445 31.4281 6.12646 31.7472C7.32847 32.0644 8.59681 32.2249 9.93349 32.2249C11.0611 32.2249 12.026 32.037 12.828 31.6611C13.63 31.2852 14.2973 30.786 14.832 30.1654C15.3667 29.5428 15.8049 28.8283 16.1446 28.0197C16.4863 27.2112 16.7596 26.3713 16.9687 25.5041L18.3496 18.9124C18.6451 17.6125 18.9124 16.4633 19.1516 15.4649C19.3888 14.4684 19.6038 13.5933 19.7968 12.8416C19.9898 12.0898 20.1667 11.432 20.3315 10.8682C20.4943 10.3044 20.6491 9.82082 20.7998 9.41557C20.9787 9.64658 21.0672 10.3846 21.0672 11.6278C21.0672 12.8709 21.0149 14.3666 20.9124 15.9426C20.8079 17.5185 20.7556 19.1297 20.7556 20.7781C20.7556 21.5299 20.844 22.2308 21.0229 22.8807C21.2018 23.5307 21.431 24.0945 21.7124 24.5722C21.9938 25.0499 22.3355 25.4258 22.7355 25.6998C23.1355 25.9759 23.5596 26.111 24.0038 26.111C24.5968 26.111 25.043 25.8662 25.3405 25.3729C25.636 24.8815 25.9938 24.0573 26.4099 22.9003L31.0853 8.98096C31.1737 9.21197 31.2179 9.57415 31.2179 10.0655C31.2179 10.7312 31.1516 11.5828 31.0169 12.6243C30.8842 13.6658 30.7415 14.8365 30.5948 16.1364C30.4461 17.2934 30.3275 18.2468 30.239 18.9986C30.1506 19.7503 30.0822 20.3729 30.038 20.8643C29.9938 21.3557 29.9636 21.7394 29.9496 22.0135C29.9335 22.2895 29.9275 22.5264 29.9275 22.728C29.9275 23.8263 30.1506 24.7817 30.5948 25.5902C31.039 26.4007 31.5737 26.804 32.1968 26.804C32.5827 26.804 32.9244 26.6513 33.2199 26.3478C33.5154 26.0444 33.843 25.5608 34.1988 24.8952L39.0511 15.3983C39.0511 15.7449 38.9847 16.3087 38.8501 17.0898C38.7174 17.8709 38.5687 18.7519 38.4059 19.7347C38.243 20.7175 38.0863 21.7159 37.9375 22.7261C37.7888 23.7382 37.7144 24.6485 37.7144 25.459C37.7144 26.0385 37.7968 26.5514 37.9596 26.9978C38.1224 27.4461 38.3234 27.8142 38.5606 28.1039C38.7978 28.3917 39.0652 28.609 39.3626 28.7539C39.6581 28.8987 39.9255 28.9712 40.1646 28.9712C40.5807 28.9712 40.9445 28.7402 41.2561 28.2781C41.5677 27.8161 41.9757 27.1074 42.4802 26.154L45.4631 20.3005C45.3747 22.2954 45.1797 24.3412 44.8842 26.4359C44.5868 28.5326 44.1646 30.5706 43.6159 32.5499C43.0672 34.5291 42.3837 36.4085 41.5677 38.1881C40.7516 39.9657 39.7787 41.5201 38.6511 42.8494C37.5234 44.1787 36.225 45.2339 34.7556 46.015C33.2863 46.7962 31.6461 47.1857 29.835 47.1857C29.3606 47.1857 28.9224 47.1701 28.5224 47.1427C28.1224 47.1133 27.7144 47.0565 27.2983 46.9684C26.8822 46.8823 26.438 46.759 25.9616 46.6004C25.4873 46.4418 24.9667 46.246 24.4038 46.015C24.1365 45.8995 23.8853 45.878 23.6461 45.9504C23.4089 46.0229 23.2903 46.2597 23.2903 46.665C23.2903 47.7065 23.8853 48.5229 25.0712 49.116C26.2591 49.7073 27.7868 50.0048 29.6561 50.0048C31.8832 50.0048 33.9013 49.6153 35.7124 48.8341C37.5234 48.053 39.1335 47.0056 40.5425 45.69C41.9516 44.3745 43.1757 42.8279 44.2149 41.0503C45.2541 39.2727 46.1064 37.3776 46.7757 35.369C47.443 33.3584 47.9395 31.2989 48.2672 29.1885C48.5928 27.0781 48.7576 25.0107 48.7576 22.9864C48.7576 22.1192 48.7054 21.295 48.6008 20.5139C48.4963 19.7327 48.3335 19.0475 48.1104 18.4543L48.1064 18.4504Z"
          fill="#1B72E8"></path>
        <path
          d="M102.178 9.27761C101.495 9.27761 100.793 9.69656 99.9914 10.5345C99.1894 11.3724 98.4598 12.6155 98.0718 14.2639C97.296 15.2173 96.7472 16.2079 96.0517 17.2338C95.3543 18.2596 94.6588 19.2208 94.0055 20.1175C93.3522 21.0141 92.7412 21.8011 92.1925 22.4804C91.6437 23.1598 91.1854 23.6453 90.8296 23.9331C90.8296 23.6433 90.8497 23.1461 90.894 22.4374C90.9382 21.7287 91.0045 20.8829 91.093 19.9002C91.1814 18.9174 91.2859 17.8191 91.4045 16.6053C91.5231 15.3916 91.6558 14.119 91.8045 12.7898C92.3975 12.8485 92.91 12.8837 93.3402 12.8974C93.7703 12.9131 94.1925 12.919 94.6085 12.919C94.904 12.919 95.1935 12.8465 95.4769 12.7017C95.7583 12.5568 96.0176 12.363 96.2568 12.1163C96.494 11.8716 96.6869 11.5955 96.8357 11.2921C96.9844 10.9887 97.0588 10.6637 97.0588 10.3172C97.0588 10.0568 96.9985 9.84731 96.8799 9.68873C96.7613 9.53016 96.5382 9.44989 96.2126 9.44989L92.1161 9.53603L92.695 4.28936C92.7533 3.91348 92.7311 3.52977 92.6286 3.14018C92.5241 2.7506 92.2347 2.55483 91.7603 2.55483C91.4628 2.55483 91.1512 2.74277 90.8256 3.11865C90.498 3.49453 90.1945 3.98004 89.9131 4.57127C89.6296 5.16446 89.3643 5.81442 89.111 6.52311C88.8578 7.2318 88.6729 7.91896 88.5543 8.58262L88.3754 9.5791L85.4367 9.62217C84.1603 9.62217 83.2397 9.84731 82.6769 10.2937C82.1141 10.742 81.8306 11.1394 81.8306 11.4859C81.8306 11.6014 81.8608 11.7032 81.9191 11.7894C81.9794 11.8755 82.1201 11.9479 82.3412 12.0067C82.5643 12.0654 82.906 12.1222 83.3643 12.1809C83.8246 12.2396 84.4558 12.2964 85.2558 12.3551L87.907 12.5724L87.3985 16.1277C87.2035 16.5329 86.8678 17.0752 86.4839 17.7545C86.098 18.4338 85.6538 19.1641 85.1794 19.9452C84.705 20.7263 84.2166 21.5055 83.7261 22.2866C83.2357 23.0677 82.7955 23.7471 82.4095 24.3246C82.5281 23.5435 82.6367 22.7349 82.7412 21.897C82.8457 21.0591 82.9402 20.2643 83.0306 19.5125C83.1191 18.7608 83.1935 18.0756 83.2538 17.453C83.312 16.8324 83.3422 16.3332 83.3422 15.9573C83.3422 15.5247 83.2538 15.1273 83.0749 14.7651C82.896 14.4049 82.6668 14.0995 82.3854 13.8547C82.104 13.61 81.7985 13.4201 81.4729 13.2909C81.1452 13.1617 80.8497 13.0952 80.5824 13.0952C80.3151 13.0952 80.0779 13.1754 79.8708 13.334C79.6638 13.4926 79.4186 13.8117 79.1372 14.2874C78.8538 14.7651 78.4839 15.4366 78.0236 16.3038C77.5633 17.1711 76.9623 18.3281 76.2206 19.7729C76.2789 19.3677 76.3472 18.9272 76.4216 18.4495C76.496 17.9718 76.5623 17.5098 76.6226 17.0615C76.6829 16.6132 76.7271 16.1883 76.7553 15.7831C76.7854 15.3778 76.7995 15.045 76.7995 14.7866C76.7995 13.7745 76.5764 12.915 76.1321 12.2064C75.6879 11.4977 75.1231 11.1433 74.4397 11.1433C73.9352 11.1433 73.3563 11.2451 72.703 11.4468C72.0497 11.6484 71.3744 11.9381 70.6769 12.314C69.9794 12.6899 69.2819 13.1519 68.5844 13.702C67.8869 14.2522 67.2417 14.8728 66.6487 15.5658C66.6186 15.2486 66.4919 14.908 66.2708 14.5478C66.0477 14.1876 65.6397 14.0055 65.0467 14.0055C64.9864 14.0055 64.7191 14.0133 64.2467 14.027C63.7724 14.0427 63.1854 14.0642 62.4879 14.0916C61.7904 14.121 61.0186 14.1504 60.1724 14.1778C59.3261 14.2071 58.502 14.2365 57.702 14.2639L58.4598 8.71379C60.1804 8.71379 61.9472 8.70792 63.7583 8.69226C65.5693 8.67855 67.2316 8.62765 68.7452 8.61395C70.2588 8.60024 71.5131 8.55717 72.508 8.55717H74.1784C74.7412 8.55717 75.2618 8.48474 75.7362 8.26743C76.2105 8.05013 76.6186 7.78584 76.9603 7.43932C77.302 7.0928 77.5613 6.72475 77.7402 6.31951C77.9191 5.91426 78.0075 5.54425 78.0075 5.19578C78.0075 4.79053 77.8889 4.53995 77.6517 4.4401C77.4146 4.3383 77.0869 4.30502 76.6729 4.33243L58.8196 4.81011C58.7593 3.42209 58.5221 2.27291 58.108 1.36258C57.692 0.452241 57.099 -0.00390625 56.3271 -0.00390625C56.1201 -0.00390625 55.9271 0.0685292 55.7482 0.2134C55.5693 0.358271 55.4065 0.610816 55.2578 0.972993C55.109 1.33517 54.9744 1.84026 54.8578 2.49022C54.7392 3.14018 54.6206 3.95851 54.502 4.93932L47.2899 5.15663C46.7854 5.18599 46.3472 5.25843 45.9774 5.37393C45.6055 5.48944 45.4206 5.79288 45.4206 6.28427C45.4206 6.48591 45.495 6.73259 45.6437 7.02233C45.7925 7.31207 46.0156 7.58615 46.311 7.84652C46.6085 8.1069 46.9864 8.33987 47.4467 8.51215C47.907 8.68638 48.4477 8.74512 49.0729 8.74512H54.0156L53.304 14.3677C52.1764 14.4264 51.3161 14.6633 50.7211 15.0959C50.1261 15.5306 49.8306 16.0317 49.8306 16.6093C49.8306 16.8403 49.905 17.0262 50.0538 17.1711C50.2025 17.316 50.4698 17.3865 50.8558 17.3865C51.0347 17.3865 51.308 17.3786 51.6799 17.3649C52.0497 17.3512 52.4739 17.3297 52.9482 17.3003L51.8789 25.8869C51.7603 26.9851 51.6638 27.8602 51.5894 28.5102C51.5151 29.1602 51.4789 29.5869 51.4789 29.7886C51.4789 30.2232 51.5593 30.5482 51.7241 30.7635C51.8869 30.9808 52.1764 31.0885 52.5925 31.0885C52.9784 31.0885 53.3502 30.973 53.706 30.742C54.0618 30.511 54.3955 30.1136 54.707 29.5497C55.0186 28.9859 55.3141 28.2342 55.5975 27.2944C55.8789 26.3547 56.1241 25.1762 56.3332 23.7608L57.3563 17.083C58.098 17.0262 58.8256 16.9812 59.5372 16.9538C60.2487 16.9244 60.9321 16.897 61.5854 16.8677C61.1392 17.7937 60.7472 18.8547 60.4055 20.0548C60.0638 21.2549 59.893 22.361 59.893 23.3732C59.893 24.9334 60.2648 26.112 61.0065 26.9068C61.7482 27.7017 62.7291 28.0991 63.9452 28.0991C64.9241 28.0991 65.7844 27.8544 66.5281 27.361C67.2698 26.8696 67.893 26.206 68.3975 25.3661C68.902 24.5282 69.2799 23.5591 69.5332 22.4609C69.7844 21.3626 69.911 20.2056 69.911 18.9918C69.911 18.5298 69.8889 17.9659 69.8447 17.3003C69.8005 16.6347 69.7482 16.1296 69.6899 15.7831C69.8387 15.6676 70.0457 15.5227 70.3131 15.3504C70.5804 15.1762 70.8698 15.0118 71.1814 14.8512C71.493 14.6926 71.8045 14.5419 72.1161 14.3951C72.4276 14.2502 72.6729 14.1504 72.8497 14.0916C72.8497 14.5537 72.7894 15.2995 72.6708 16.3254C72.5522 17.3512 72.4337 18.4495 72.3151 19.6202C72.1965 20.7909 72.0839 21.9264 71.9814 23.0247C71.8769 24.123 71.8246 24.9472 71.8246 25.4973C71.8246 26.1629 72.0256 26.7267 72.4256 27.1887C72.8256 27.6508 73.2779 27.8818 73.7844 27.8818C73.9914 27.8818 74.2005 27.7878 74.4075 27.5999C74.6146 27.4119 74.912 27.0086 75.298 26.3861C75.6839 25.7655 76.1804 24.8532 76.7894 23.6531C77.3965 22.453 78.2065 20.8555 79.2156 18.8606C79.2156 19.2952 79.1713 19.8943 79.0829 20.6598C78.9945 21.4252 78.8899 22.2142 78.7713 23.0227C78.6528 23.8332 78.5482 24.5908 78.4598 25.2995C78.3713 26.0082 78.3271 26.5075 78.3271 26.7952C78.3271 27.2005 78.4156 27.5607 78.5945 27.8798C78.7734 28.1989 78.9945 28.471 79.2618 28.704C79.5291 28.935 79.8246 29.1151 80.1522 29.2463C80.4779 29.3755 80.7894 29.4421 81.0869 29.4421C81.4729 29.4421 81.7924 29.305 82.0437 29.0309C82.295 28.7549 82.6447 28.3301 83.0909 27.7526C83.2698 27.5215 83.499 27.175 83.7804 26.7111C84.0618 26.249 84.3653 25.7283 84.693 25.1508C85.0186 24.5732 85.3683 23.9448 85.7382 23.2635C86.11 22.5842 86.4578 21.9127 86.7834 21.2471C86.7533 21.5936 86.7311 21.9773 86.7171 22.3963C86.703 22.8152 86.695 23.1833 86.695 23.5024C86.695 23.935 86.7834 24.3696 86.9623 24.8023C87.1412 25.2349 87.3784 25.6265 87.6739 25.973C87.9693 26.3195 88.3271 26.6014 88.7432 26.8187C89.1593 27.036 89.5894 27.1437 90.0337 27.1437C91.0427 27.1437 92.2528 26.3998 93.6618 24.91C95.0708 23.4221 96.5925 21.2608 98.2246 18.428C98.4618 19.1797 98.6688 19.9883 98.8477 20.8555C99.0266 21.7228 99.1894 22.547 99.3382 23.3281C98.7151 23.7901 98.1884 24.1895 97.7583 24.5204C97.3281 24.8532 96.9724 25.1488 96.6889 25.4092C96.4075 25.6695 96.1985 25.9162 96.0658 26.1472C95.9332 26.3782 95.8648 26.6249 95.8648 26.8853C95.8648 27.6077 96.2286 28.2224 96.9563 28.7275C97.6839 29.2326 98.492 29.4871 99.3824 29.4871C100.568 29.4871 101.527 28.9879 102.255 27.9914C102.982 26.9949 103.346 25.7146 103.346 24.1543C103.346 22.594 103.153 21.1042 102.767 19.5145C102.381 17.9248 101.935 16.3058 101.433 14.6574C101.907 14.0505 102.293 13.5298 102.59 13.0971C102.888 12.6645 103.117 12.2944 103.28 11.991C103.443 11.6876 103.553 11.4428 103.614 11.2529C103.672 11.065 103.702 10.8849 103.702 10.7107C103.702 10.278 103.575 9.92953 103.324 9.66916C103.071 9.40878 102.693 9.27957 102.188 9.27957L102.178 9.27761ZM65.7804 24.4773C65.5271 25.0999 65.2236 25.4092 64.8678 25.4092C64.5703 25.4092 64.3472 25.2428 64.2005 24.91C64.0518 24.5771 63.9774 24.123 63.9774 23.5435C63.9774 22.4452 64.2146 21.3822 64.6889 20.3563C65.1633 19.3305 65.6095 18.3986 66.0256 17.5587C66.0256 17.9053 66.0477 18.4475 66.092 19.1856C66.1362 19.9237 66.1583 20.6676 66.1583 21.4194C66.1583 22.8367 66.0316 23.8547 65.7804 24.4773Z"
          fill="#1B72E8"></path>
        <path
          d="M106.231 29.2275C106.438 29.0258 106.543 28.8085 106.543 28.5775C106.543 28.2016 106.29 28.0137 105.785 28.0137C105.341 28.0137 105.118 28.1057 105.118 28.3367C105.118 28.3935 105.162 28.3993 105.251 28.3993H105.474C105.385 28.7772 105.319 28.9573 105.273 29.1609C105.228 29.3625 105.206 29.4917 105.206 29.5192C105.206 29.7795 105.295 29.9146 105.474 29.9146C105.592 29.9146 105.667 29.7443 105.697 29.3978C105.757 29.4545 105.807 29.5074 105.854 29.5505C105.898 29.5935 105.964 29.6875 106.055 29.8324C106.113 29.9185 106.187 29.9636 106.278 29.9636C106.485 29.9636 106.589 29.8618 106.589 29.6601C106.589 29.4859 106.471 29.343 106.233 29.2275H106.231ZM105.964 29.1413C105.846 29.0826 105.757 29.0552 105.697 29.0552L105.785 28.4483C105.964 28.4483 106.053 28.5501 106.053 28.7517C106.053 28.8966 106.022 29.0258 105.964 29.1413Z"
          fill="#1B72E8"></path>
        <path
          d="M107.276 27.6651C106.995 27.3773 106.571 27.2324 106.008 27.2324C105.413 27.2324 104.955 27.4341 104.627 27.8393C104.299 28.2446 104.137 28.7359 104.137 29.3135C104.137 29.8049 104.293 30.1866 104.605 30.4626C104.916 30.7367 105.31 30.8738 105.785 30.8738C106.378 30.8738 106.846 30.678 107.188 30.2884C107.529 29.8988 107.7 29.3839 107.7 28.7496C107.7 28.317 107.56 27.9548 107.278 27.6651H107.276ZM106.808 30.0711C106.571 30.3452 106.259 30.4822 105.873 30.4822C105.457 30.4822 105.146 30.3589 104.939 30.1142C104.732 29.8675 104.627 29.5582 104.627 29.1823C104.627 28.7497 104.738 28.3796 104.961 28.0762C105.184 27.7728 105.501 27.62 105.917 27.62C106.362 27.62 106.681 27.7434 106.874 27.9881C107.067 28.2348 107.164 28.5304 107.164 28.8769C107.164 29.3977 107.045 29.7951 106.808 30.0691V30.0711Z"
          fill="#1B72E8"></path>
        <path
          d="M55.5815 38.8691C55.5815 40.1103 54.8358 40.9756 53.7544 40.9756C53.1876 40.9756 52.7554 40.7583 52.472 40.3433L52.4057 40.866H51.3464V35.543H52.5403V37.3441C52.8238 36.9819 53.2338 36.7705 53.7564 36.7705C54.868 36.7705 55.5836 37.6201 55.5836 38.8691H55.5815ZM54.3815 38.8613C54.3815 38.1487 54.0459 37.6847 53.473 37.6847C53.0408 37.6847 52.6831 37.9235 52.5403 38.411V39.2979C52.681 39.7853 53.0328 40.032 53.473 40.032C54.0479 40.032 54.3815 39.5602 54.3815 38.8633V38.8613Z"
          fill="black"></path>
        <path
          d="M60.4056 36.8887L58.7573 41.1584C58.3915 42.1021 57.9232 42.3938 57.0508 42.3938H56.4478V41.5148H57.0749C57.4106 41.5148 57.5453 41.4423 57.7081 41.0136L57.7222 40.9705L56.1121 36.8887H57.3805L58.0136 38.7328C58.0277 38.7837 58.2146 39.561 58.3192 40.0034C58.4156 39.561 58.5945 38.7837 58.6106 38.7328L59.1855 36.8887H60.4076H60.4056Z"
          fill="black"></path>
        <path
          d="M70.291 35.543V40.866H69.1513V37.5105L69.2035 36.1459L68.7935 37.4831L67.5111 40.8679H66.3633L65.089 37.4909L64.6709 36.1694L64.7231 37.5203V40.8679H63.5834V35.5449H65.493L66.6407 38.8574L66.9463 40.0633L67.2518 38.8574L68.4679 35.5449H70.295L70.291 35.543Z"
          fill="black"></path>
        <path
          d="M71.4392 38.8682C71.4392 37.6192 72.2895 36.7695 73.608 36.7695C74.9266 36.7695 75.7548 37.6055 75.7548 38.8682C75.7548 40.1309 74.9126 40.9806 73.592 40.9806C72.2714 40.9806 71.4372 40.1309 71.4372 38.8682H71.4392ZM74.5488 38.8682C74.5488 38.091 74.2352 37.6622 73.6101 37.6622C72.9849 37.6622 72.6553 38.091 72.6553 38.8682C72.6553 39.6454 72.9608 40.0879 73.594 40.0879C74.2271 40.0879 74.5488 39.6454 74.5488 38.8682Z"
          fill="black"></path>
        <path
          d="M80.7417 38.1947V40.867H79.5477V38.506C79.5477 38.0127 79.2643 37.7503 78.8542 37.7503C78.4442 37.7503 78.1527 38.0185 78.012 38.4179V40.8651H76.8181V36.885H77.9216L77.9658 37.4156C78.3095 36.979 78.7256 36.7773 79.2703 36.7773C80.1648 36.7773 80.7397 37.3079 80.7397 38.1928L80.7417 38.1947Z"
          fill="black"></path>
        <path
          d="M81.8083 38.8682C81.8083 37.6192 82.6586 36.7695 83.9772 36.7695C85.2958 36.7695 86.1239 37.6055 86.1239 38.8682C86.1239 40.1309 85.2817 40.9806 83.9611 40.9806C82.6405 40.9806 81.8063 40.1309 81.8063 38.8682H81.8083ZM84.9179 38.8682C84.9179 38.091 84.6043 37.6622 83.9792 37.6622C83.3541 37.6622 83.0244 38.091 83.0244 38.8682C83.0244 39.6454 83.33 40.0879 83.9631 40.0879C84.5963 40.0879 84.9179 39.6454 84.9179 38.8682Z"
          fill="black"></path>
        <path
          d="M90.1056 37.6491L88.8011 37.5688L88.8674 38.1561V39.4698C88.8674 39.8104 89.0242 39.9337 89.3217 39.9337H90.1036V40.8636H89.0524C88.1358 40.8636 87.6875 40.5367 87.6875 39.7164V38.1561L87.7478 37.5747L86.779 37.6471V36.8856L87.7418 36.958L87.6895 36.6095V35.709H88.8674V36.6095L88.8152 36.9658L90.1056 36.8856V37.6471V37.6491Z"
          fill="black"></path>
        <path
          d="M95.1066 36.8887L93.4584 41.1584C93.0926 42.1021 92.6242 42.3938 91.7519 42.3938H91.1489V41.5148H91.776C92.1117 41.5148 92.2463 41.4423 92.4092 41.0136L92.4232 40.9705L90.8132 36.8887H92.0815L92.7147 38.7328C92.7287 38.7837 92.9157 39.561 93.0202 40.0034C93.1167 39.561 93.2956 38.7837 93.3117 38.7328L93.8865 36.8887H95.1086H95.1066Z"
          fill="black"></path>
        <path
          d="M100.201 38.8858C100.201 40.1211 99.4549 40.9845 98.3735 40.9845C97.8509 40.9845 97.4408 40.773 97.1574 40.403V42.349H95.9634V36.8889H97.0368L97.0971 37.3979C97.3805 36.9986 97.8127 36.7812 98.3715 36.7812C99.483 36.7812 100.199 37.6309 100.199 38.8877L100.201 38.8858ZM99.0006 38.8721C99.0006 38.1595 98.6649 37.7033 98.09 37.7033C97.6579 37.7033 97.3001 37.9422 97.1574 38.4218V39.3145C97.2981 39.802 97.6498 40.0487 98.09 40.0487C98.6649 40.0487 99.0006 39.5769 99.0006 38.8721Z"
          fill="black"></path>
        <path
          d="M105.38 39.1305H102.24C102.285 39.8059 102.65 40.1407 103.3 40.1407C103.696 40.1407 103.993 40.0174 104.202 39.6689L105.254 39.8725C104.932 40.5616 104.246 40.9845 103.278 40.9845C101.891 40.9845 101.085 40.1485 101.085 38.8936C101.085 37.6387 101.852 36.7734 103.231 36.7734C104.61 36.7734 105.378 37.6955 105.378 38.9152V39.1325L105.38 39.1305ZM102.248 38.4923H104.21C104.15 37.9187 103.867 37.5409 103.233 37.5409C102.697 37.5409 102.323 37.8463 102.248 38.4923Z"
          fill="black"></path>
        <path d="M106.543 39.5898H107.996V40.8682H106.543V39.5898Z" fill="black"
        ></path></svg
      >
    </a>

    <a
      href="https://instagram.com/beer_or_bust"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">Go to Tiago Porto's instagram page</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 14.3782 13.8471"
        width="25"
        ><path
          d="M7.19,4.4315A2.5416,2.5416,0,0,0,4.6016,6.924,2.5416,2.5416,0,0,0,7.19,9.4164,2.5417,2.5417,0,0,0,9.7778,6.924,2.5417,2.5417,0,0,0,7.19,4.4315Z"
        ></path><path
          d="M11.1965,0H3.1818A3.1819,3.1819,0,0,0,0,3.1818v7.4835a3.1818,3.1818,0,0,0,3.1818,3.1818h8.0147a3.1817,3.1817,0,0,0,3.1817-3.1818V3.1818A3.1818,3.1818,0,0,0,11.1965,0ZM7.1915,10.5247a3.6713,3.6713,0,0,1-3.7384-3.6,3.6713,3.6713,0,0,1,3.7384-3.6,3.6713,3.6713,0,0,1,3.7384,3.6A3.6713,3.6713,0,0,1,7.1915,10.5247Zm4.1673-6.6466a.9883.9883,0,0,1-1.0063-.9693,1.0072,1.0072,0,0,1,2.0129,0A.9885.9885,0,0,1,11.3588,3.8781Z"
        ></path></svg
      >
    </a>
  </div>
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
