---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import { useI18n } from '../i18n/utils'
import LanguagePicker from '../components/LanguagePicker.astro'

const { lang, t, tp, homeLink, r } = useI18n(Astro.url)
---

<header>
  <h2><a href={homeLink}>{SITE_TITLE}</a></h2>

  <nav role="menu" aria-label={t('mainMenu')}>
    <ul class="links">
      <li><HeaderLink href={homeLink}>{t('nav.home')}</HeaderLink></li>
      <li><HeaderLink href={tp('/blog')}>{t('nav.blog')}</HeaderLink></li>
    </ul>
  </nav>

  <nav role="navigation" aria-label={t('languageSelector')}>
    <LanguagePicker />
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }
  /*
  h2 a,
  h2 a.active {
    text-decoration: none;
  }*/
  header,
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  header a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
</style>
