---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import { useI18n } from '../i18n/utils'
import LanguagePicker from '../components/LanguagePicker.astro'

const { lang, t, tp, homeLink, r } = useI18n(Astro.url)
---

<header>
  <nav>
    <h2><a href={homeLink}>{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href={homeLink}>{t('nav.home')}</HeaderLink>
      <HeaderLink href={tp('/blog')}>{t('nav.blog')}</HeaderLink>
    </div>

    <div class="internal-links">
      <LanguagePicker />
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
