---
import { useI18n } from '../i18n/utils'
import { languages } from '../i18n/ui'
const { lang, t, tp, homeLink, r } = useI18n(Astro.url)

const rOrHomeLink = r ? r : ''
---

<ul class="language-picker">
  {
    Object.entries(languages).map(([l, title]) => (
      <li>
        <a
          href={tp(rOrHomeLink, l)}
          class:list={['link', { active: l === lang }]}
          hreflang={l}
          lang={l}
        >
          {title}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .language-picker {
    font-size: 18px;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .language-picker li {
    margin: 0;
    padding: 0;
  }

  .link {
    color: var(--black);
    text-decoration: none;
    transition: 0.2s ease;
  }
  .link:hover {
    text-decoration: underline;
  }
  .active {
    text-decoration: underline;
    color: var(--accent);
  }

  @media (min-width: 768px) {
    .language-picker {
      font-size: 14px;
      display: flex;
      justify-content: end;
      align-items: center;
    }
    .language-picker li:first-child {
      padding-right: 12px;
      border-right: 1px solid #000;
    }
    .active {
      text-decoration: none;
    }
  }
</style>
