---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { useI18n } from '../../i18n/utils'

import { languages } from '../../i18n/ui'

const { t } = useI18n(Astro.url)

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } }
  })
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${t('site.title')} | Donation`}
      description={t('site.description')}
    />
  </head><body>
    <Header />
    <main>
      <h1>Donation</h1>
    </main>
    <Footer />
  </body>
</html>
