---
import Layout from '../../layouts/Layout.astro'
import { languages } from '../../i18n/ui'
import { useI18n } from '../../i18n/utils'

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } }
  })
}

const { t } = useI18n(Astro.url)
---

<Layout title={t('site.title')} description={t('site.description')}>
  <div class="container">
    <img class="avatar" height={200} width={200} src="/tiagoporto.png" alt="" />

    <p class="center">
      {t('aboutMe.paragraph1')}
    </p>
  </div>
</Layout>

<style>
  .container {
    min-height: 400px;
  }
  .avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }

  .center {
    text-align: center;
  }
</style>
