---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import Layout from '../../layouts/Layout.astro'
import { languages } from '../../i18n/ui'
import { useI18n } from '../../i18n/utils'

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } }
  })
}

const { t } = useI18n(Astro.url)
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <img class="avatar" height={200} width={200} src="/tiagoporto.png" alt="" />

  <p>
    {t('aboutMe.paragraph1')}
  </p>

  <p>
    {t('aboutMe.paragraph2')}
  </p>

  <p>
    {t('aboutMe.paragraph3')}
  </p>

  <p>
    {t('aboutMe.paragraph4')}
  </p>
</Layout>

<style>
  .avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
</style>
